---
---

@import "{{ site.theme }}";

.inner {
  max-width: 50%;
}

#header_wrap {
  background: #254286;
  background: -moz-linear-gradient(top, #213b79, #254286);
  background: -webkit-linear-gradient(top, #213b79, #254286);
  background: -ms-linear-gradient(top, #213b79, #254286);
  background: -o-linear-gradient(top, #213b79, #254286);
  background: linear-gradient(to top, #213b79, #254286);
}

#header_wrap .inner {
  padding: 30px 10px 10px 10px;
}

#footer_wrap {
  display: none;
}

#main_content_wrap {
  background: #ffffff;
}

#forkme_banner {
  display: none;
}

#project_title {
  color: #fff;
  font-weight: 700;
  text-shadow: none;
}
