---
---

@import "{{ site.theme }}";

.inner {
  max-width: 50%;
}

#header_wrap {
  background: #254286;
  background: -moz-linear-gradient(top, #213b79, #254286);
  background: -webkit-linear-gradient(top, #213b79, #254286);
  background: -ms-linear-gradient(top, #213b79, #254286);
  background: -o-linear-gradient(top, #213b79, #254286);
  background: linear-gradient(to top, #213b79, #254286);
}

#header_wrap .inner {
  padding: 30px 10px 10px 10px;
}

#footer_wrap {
  display: none;
}

#main_content_wrap {
  background: #ffffff;
}

#forkme_banner {
  display: none;
}

#project_title {
  color: #fff;
  font-weight: 700;
  text-shadow: none;
}

.registration-link {
  min-width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  color: #254286;
  border: 1px solid #254286;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: transparent;

  &:hover {
    background-color: #254286;
    color: #ffffff;
  }
}
